<h1>Formulaire d'enregistrement</h1>
<form method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
Username :<br>
<input type="text" name="username">
<br>
Bio :<br>
<input type="textarea" name="bio">
<br>
<br>
<input type="submit" value="S'enregistrer">
</form>
